@using BlazorDoctorWeb.Components
@inherits LayoutComponentBase

<div class="page">
    <NavBar />
    
    <main>
        <HeroSection />
        <ServicesSection />
        <AboutSection />
        <TestimonialsSection />
        <ContactSection />
    </main>
    
    <Footer />
</div>